@use "mixin" as m;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background: #f4f8cf;
}

a {
  cursor: pointer;
}

.navlist {
  @include m.mediaq(mobile) {
    position: absolute;
    top: -50px;
    right: -800px;
    width: 100%;
    background-color: #333;
    transition: all 0.5s;

    ul {
      padding: 20px;
      margin: 0 auto;
    }

    li {
      text-align: center;
      list-style-type: none;
      display: block;
      margin: 30px 0;
      font-size: 1.2rem;
      a {
        color: #fff;
        display: block;
        text-decoration: none;
        height: 50px;
        line-height: 50px;
        transition-duration: 0.3s;
        a:hover {
          background-color: rgb(173, 168, 168);
          transition: 0.8s;
          @include m.mediaq(laptop) {
            transition: 0.5s;
            color: #35ae72;
            text-decoration: underline;
            text-decoration-style: wavy;
            animation-duration: 0.8s;
          }
        }
      }
    }
  }
}

.toggle-btn {
  @include m.mediaq(mobile) {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: -50px;
    right: 0;

    span {
      width: 30px;
      height: 5px;
      background-color: #333;
      border-radius: 4px;
      position: absolute;
      right: 10px;
      transition: all 0.5s;
      span:nth-child(1) {
        top: 12px;
      }
      span:nth-child(2) {
        top: 22px;
      }
      span:nth-child(3) {
        top: 32px;
      }
    }
  }
}

.memupage {
  @include m.mediaq(mobile) {
    top: -59px;
  }
}

.open .toggle-btn {
  @include m.mediaq(mobile) {
    span {
      background-color: #fff;
      z-index: 999;

      :nth-child(1) {
        transform: translateY(10px) rotate(-315deg);
      }
      :nth-child(2) {
        opacity: 0;
      }
      :nth-child(3) {
        transform: translateY(-10px) rotate(315deg);
      }
    }
  }
}

.loc-contact {
  @include m.mediaq(mobile) {
    padding-top: 0 !important;
    height: 830px !important;
  }
}

.aboutus-main {
  @include m.mediaq(mobile) {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.section {
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 30px;

  .left {
    z-index: 1;
    background-color: #fff;

    img {
      z-index: 3;
      object-fit: cover;
      display: block;
    }
  }

  h3 {
    font-size: 2rem;
  }

  @include m.mediaq(mobile) {
    width: 100%;

    .left img {
      height: auto;
      width: 100%;
    }
  }

  @include m.mediaq(tablet) {
    width: 95%;
    text-align: center;
    padding: 10px 0;

    .left {
      width: 80%;
      height: auto;
      margin: 0 auto;
      img {
        height: 20vh;
        width: 100%;
      }
    }
  }

  @include m.mediaq(laptop) {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 600px;
    padding-top: 50px;

    .left {
      position: relative;
      width: 500px;
      height: 500px;
      img {
        height: 500px;
        width: 500px;
        position: relative;
      }
      &::after {
        background-color: #f4f8cf;
        width: 74%;
        height: 90%;
        position: absolute;
        content: "";
        z-index: 0;
        bottom: -10%;
        left: -160px;
      }
    }
    .right {
      width: 600px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.right-caption {
  width: 90%;
  h3 {
    font-size: 2rem;
  }
  @include m.mediaq(mobile) {
    margin: 0 auto;
  }
  @include m.mediaq(tablet) {
    margin: 20px auto;
  }
  @include m.mediaq(laptop) {
    margin: 50px auto;
  }
}

.images {
  display: flex;

  img {
    object-fit: cover;
    display: block;
  }

  @include m.mediaq(mobile) {
    justify-content: space-between;

    img {
      height: auto;
      width: 48%;
    }
  }

  @include m.mediaq(tablet) {
    justify-content: space-evenly;
    margin-top: 30px;

    img {
      height: 14vh;
      width: 45%;
    }
  }

  @include m.mediaq(laptop) {
    justify-content: space-evenly;

    img {
      height: 100%;
      width: 240px;
    }
  }
}

.info hr {
  @include m.mediaq(mobile) {
    display: none;
  }
}

footer {
  text-align: center;
  background-color: #89cfd7;
  margin-bottom: -20px;

  ul {
    margin-bottom: 10px;

    li {
      display: inline-block;

      a {
        color: #cceaeece;
        text-decoration: none;
        font-size: 1rem;
        margin: 0 20px;

        &:hover {
          color: #35ae72;
          transition: 0.5s;
          animation-duration: 0.8s;
        }
      }
    }
  }

  @include m.mediaq(mobile) {
    ul {
      display: flex;
      justify-content: center;
      padding: 0;

      li a {
        margin: 0 4px;

        &:hover {
          color: #35ae72;
        }
      }
    }
  }
}

.newsletter p {
  font-size: 1.3rem;
  color: #cceaeece;
  padding: 20px 0;
  margin: 0;
}

.form {
  height: 40px;
  width: 400px;
  margin: 0 auto;

  form {
    position: relative;
  }

  @include m.mediaq(mobile) {
    width: 80%;
    padding-bottom: 20px;
  }

  @include m.mediaq(tablet) {
    width: 55%;
    padding-bottom: 60px;
  }

  @include m.mediaq(laptop) {
    padding-bottom: 20px;
  }
}

.email {
  width: 100%;
  height: 35px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #cceaeece;
}

.button {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  bottom: 3px;
  right: 3px;
  border: none;
  background-color: #89cfd7;
  color: #fff;

  &:hover {
    background-color: #1eb2c2;
  }
  p {
    margin: 0;
    font-size: 0.8rem;
    color: #cceaeece;
  }
}

.logo-bottom {
  height: 70px;
  width: 70px;
}

.bottom {
  margin: 10px 0;
  p {
    font-size: 0.8rem;
    color: #cceaeece;
    margin: 0;
  }
}

.links-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .menu {
    background-image: url("../image/menu.jpg");
    background-size: cover;
  }
  .locations {
    background-image: url("../image/locations.jpg");
    background-size: cover;
  }
  .team {
    background-image: url("../image/team.jpg");
    background-size: cover;
  }
  @include m.mediaq(mobile) {
    flex-direction: column;
    margin: 20px auto;
    .card {
      height: 130px;
      width: 300px;
      margin: 10px auto;
    }
  }
  @include m.mediaq(tablet) {
    width: 90%;
    .card {
      margin: 20px;
    }
    .menu {
      height: 250px;
      width: 250px;
    }
    .locations {
      height: 250px;
      width: 250px;
    }
    .team {
      height: 250px;
      width: 250px;
    }
  }
  @include m.mediaq(laptop) {
    width: 80%;
    justify-content: center;
    .card {
      height: 300px;
      width: 300px;
      margin: 20px;
    }
    .menu {
      height: 300px;
      width: 300px;
    }
    .locations {
      height: 300px;
      width: 300px;

      .map {
        margin: 0 auto;
      }
      .contact {
        padding-top: 20px;
      }
    }
    .team {
      height: 300px;
      width: 300px;
    }
  }
}

.card {
  position: relative;

  &:hover .hover {
    visibility: visible;
  }
}

.img-link {
  @include m.mediaq(mobile) {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.inside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include m.mediaq(laptop) {
    padding: 20px 0;
  }
  h4 {
    color: #fff;
    letter-spacing: 2px;
    @include m.mediaq(mobile) {
      font-size: 2.5rem;
    }
    @include m.mediaq(tablet) {
      font-size: 2rem;
      margin-top: 80px;
    }
    @include m.mediaq(laptop) {
      font-size: 3.9vw;
      margin-top: 80px;
    }
  }
}

.hover {
  width: 100%;
  transition: all 0.2s ease-out;
  position: absolute;

  p {
    color: #fff;
    width: 100%;
    margin: 0 auto;
    font-weight: lighter;
    font-size: 0.9rem;
  }

  @include m.mediaq(mobile) {
    width: 90%;
    top: 40px;
    left: 15px;
    p {
      padding: 10px;
    }
  }
  @include m.mediaq(tablet) {
    visibility: hidden;
    top: 50%;
  }
  @include m.mediaq(laptop) {
    visibility: hidden;
    top: 50%;
  }
}

.bg {
  background-color: #1a7b18ab;
  color: #fff;
  font-weight: 100;
  width: 55%;
  margin: 0 auto;

  &:hover {
    background-color: #546a54ab;
    transition-duration: 0.3s;
    cursor: pointer;
  }

  @include m.mediaq(tablet) {
    padding: 5px;
    margin-top: 15px;
  }
  @include m.mediaq(laptop) {
    padding: 10px;
    margin-top: 15px;
  }
}

.aboutus {
  h2 {
    font-size: 2rem;
    margin: 0;
  }
  @include m.mediaq(mobile) {
    padding-top: 45px;
    margin-top: -45px;
  }
  @include m.mediaq(tablet) {
    padding-top: 70px;
  }
  @include m.mediaq(laptop) {
    padding-top: 100px;
  }
}

.aboutus-header {
  text-align: center;
  width: 90%;
  margin: 0 auto;

  @include m.mediaq(tablet) {
    padding-bottom: 20px;
  }
}

.right-caption {
  width: 90%;
  @include m.mediaq(mobile) {
    margin: 0 auto;
  }
  @include m.mediaq(tablet) {
    margin: 20px auto;
  }
  @include m.mediaq(laptop) {
    margin: 50px auto;
    h3 {
      font-size: 2rem;
    }
  }
}

main {
  background-color: #f4f8cf;
  @include m.mediaq(mobile) {
    height: auto;
  }
}

#loc {
  @include m.mediaq(mobile) {
    height: 1420px;
  }
}

.menu,
.men {
  @include m.mediaq(mobile) {
    height: 800px;
  }
}

.review {
  @include m.mediaq(mobile) {
    width: 90%;
    margin: 0 auto;
  }
  @include m.mediaq(tablet) {
    height: auto;
    margin-top: 50px;
  }
  @include m.mediaq(laptop) {
    width: 95%;
    margin: 50px auto 0;
  }
}

.review-container {
  @include m.mediaq(mobile) {
    margin: 50px auto;
  }
  @include m.mediaq(laptop) {
    margin: 50px 0;
  }
}

.review-card {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  @include m.mediaq(mobile) {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.onereview {
  display: flex;
  justify-content: space-between;
  background-color: #f7f9e4;
  border: 1px solid #acacac;
  border-radius: 3px;

  img {
    border-radius: 50%;
    border: 4px solid #fff;
    display: block;
    margin: 10px auto;
    width: 100%;
    height: auto;
  }
  @include m.mediaq(mobile) {
    border: 1px solid #333;
    margin: 5px;
    padding: 10px;
    width: 100%;
    max-height: 300px;
    min-height: 130px;
  }
  @include m.mediaq(tablet) {
    margin: 8px;
    padding: 8px;
    width: 30%;
    max-height: 300px;
    min-height: 180px;
  }
  @include m.mediaq(laptop) {
    margin: 8px;
    width: 25%;
    flex-direction: column;
    img {
      height: 140px;
      width: 140px;
    }
  }
}

.leftDiv {
  @include m.mediaq(mobile) {
    margin: auto 0;
  }
  @include m.mediaq(tablet) {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  @include m.mediaq(laptop) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

.rightDiv {
  @include m.mediaq(tablet) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

.quote {
  font-style: italic;
  margin: 0 auto;

  @include m.mediaq(mobile) {
    width: 80%;
  }
  @include m.mediaq(tablet) {
    width: 100%;
    font-size: 0.9rem;
  }
  @include m.mediaq(laptop) {
    width: 95%;
    font-size: 0.9rem;
  }
}

.checked {
  color: orange;
}

// Wavy separator
.wave-container {
  position: relative;
  background: #f4f8cf;
  width: 100%;

  @include m.mediaq(mobile) {
    min-height: 114px;
  }
  @include m.mediaq(tablet) {
    height: 170px;
  }
  @include m.mediaq(laptop) {
    height: 140px;
  }
}

.wave {
  position: absolute;
  height: 161px;
  width: 100%;
  background: #f4f8cf;
  bottom: 0;

  &::before {
    width: 55%;
    height: 100%;
    background-color: #f4f8cf;
    right: -1.5%;
    top: 40%;
  }
  &::after {
    width: 55%;
    height: 109%;
    background-color: #f8f1ea;
    left: -1.5%;
    top: 60%;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50% 100%;
  }

  @include m.mediaq(tablet) {
    &::before {
      top: 42%;
    }
  }
}

// Login form
.form1 {
  margin: 0 auto;

  @include m.mediaq(mobile) {
    width: 80%;
  }
  @include m.mediaq(tablet) {
    height: 500px;
  }
  @include m.mediaq(laptop) {
    height: 500px;
  }
}

.mypage {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;

  h2 {
    letter-spacing: 2px;
  }
  @include m.mediaq(mobile) {
    font-size: 0.7rem;
  }
  @include m.mediaq(tablet) {
    width: 80%;
    height: 450px;
  }
  @include m.mediaq(laptop) {
    width: 60%;

    + p {
      width: 90%;
    }
  }
}

.login {
  font-size: 1.2rem;
}

#email,
#pwd {
  width: 100%;
  height: 30px;
  border-radius: 3px;
}

#button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

.example {
  @include m.mediaq(mobile) {
    margin: 5px;
  }
  @include m.mediaq(tablet) {
    margin: 10px 0;
    p {
      margin-bottom: 0;
    }
  }
  @include m.mediaq(laptop) {
    margin: 25px;
  }
}

.index header {
  @include m.mediaq(laptop) {
    height: 600px;
  }
}
