@use "mixin" as m;

.location-main {
  padding-top: 60px;
  text-align: center;
  
  p {
    width: 80%;
    margin: 0 auto 40px;
  }
}

.location-container {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  @include m.mediaq(mobile) {
    display: block;
  }
}

.location {
  width: 32%;
  @include m.mediaq(tablet) {
    width: 90%;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
  h4 {
    margin-top: 10px;
  }
}

.contact {
  text-align: center;
  background-color: #f8f1ea;
  padding: 100px 0;

  @include m.mediaq(mobile) {
    padding: 30px 0;
  }
}

.info {
  @include m.mediaq(desktop) {
    margin: 20px 0 10px;
  }
  @include m.mediaq(laptop) {
    margin: 10px 0 0px;
  }
  @include m.mediaq(tablet) {
    margin: 20px 0 0;
  }
  @include m.mediaq(mobile) {
    width: 80%;
    padding-top: 20px;
    font-size: 0.8rem;
    margin: 0 auto;
  }

  p {
    @include m.mediaq(mobile) {
      margin: 0 auto;
    }
  }
}

#map {
  height: 450px;
  background-color: aqua;

  @include m.mediaq(desktop) {
    width: 60%;
  }
  @include m.mediaq(laptop) {
    width: 80%;
  }
  @include m.mediaq(tablet) {
    height: 350px;
    width: 90%;
    margin: 0 auto;
  }
}

.map {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 0 auto;

  @include m.mediaq(laptop) {
    gap: 20px;
  }
  @include m.mediaq(tablet) {
    display: block;
  }
}
