@use "mixin" as m;

.location-main {
  padding-top: 60px;
  text-align: center;

  p {
    width: 100%;
    margin: 0 auto 40px;
  }
}

.location-container {
  margin: 0 auto;
  
  @include m.mediaq(mobile) {
    display: block;
  }
  @include m.mediaq(tablet) {
    display: block;
  }
  @include m.mediaq(laptop) {
    display: flex;
    justify-content: space-between;
  }
}

.location {
  width: 95%;
  margin: 0 auto;
  @include m.mediaq(laptop) {
    width: 32%;
  }

  img {
    width: 100%;
    height: 270px;
    object-fit: cover;

    @include m.mediaq(tablet) {
      display: block;
    }
  }

  h4 {
    margin-top: 10px;
  }
}

.contact {
  text-align: center;
  background-color: #f8f1ea;
  padding: 135px 0 80px;

}

.info {
  @include m.mediaq(laptop) {
    margin: 20px 0 10px;
  }
  @include m.mediaq(tablet) {
    margin: 20px 0 0;
  }
  @include m.mediaq(mobile) {
    width: 80%;
    padding-top: 20px;
    font-size: 0.8rem;
    margin: 0 auto;
  }

  p {
    @include m.mediaq(mobile) {
      margin: 0 auto;
    }
  }
}

#map {
  height: 450px;
  background-color: aqua;

  @include m.mediaq(laptop) {
    width: 80%;
  }
  @include m.mediaq(tablet) {
    height: 60vh;
    width: 90%;
    margin: 0 auto;
  }
}

.map {
  width: 95%;
  justify-content: space-around;
  margin: 0 auto;
  
  @include m.mediaq(mobile) {
    display: block;
  }
  @include m.mediaq(tablet) {
    display: block;
  }
  @include m.mediaq(laptop) {
    display: flex;
    width: 96%;
    gap: 20px;
  }
}
