@use "mixin" as m;

.menu-main {
  padding-top: 60px;

  @include m.mediaq(mobile) {
    padding-top: 15px;
  }
}

.menu-container {
  height: 630px;
  background-color: #49b2bd62;
  width: 80%;
  margin: 0 auto;
  h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 30px;

    @include m.mediaq(mobile) {
      font-size: 2rem;
    }
  }
}

.divParent {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px;
  width: 60%;
  height: 40px;

  @include m.mediaq(mobile) {
    width: 80%;
  }
}

.divLine {
  padding: 5px 15px;
  flex-grow: 2;
  hr {
    border-style: dotted;
  }
}

.divPrice,
.divTitle {
  flex: 0 1 auto;
  line-height: 40px;
}