$breakpoint: (
  mobile: 'screen and (max-width: 600px)',
  tablet: 'screen and (min-width:601px)',
  laptop: 'screen and (min-width: 968px)'
);

@mixin mediaq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}