@use "mixin" as m;

.team-header {
  @include m.mediaq(mobile) {
    height: 1730px;
  }
  @include m.mediaq(tablet) {
    height: 950px;
  }
  @include m.mediaq(laptop) {
    height: 860px;
  }
}

.teampage {
  text-align: center;
  h2 {
    font-size: 2.5rem;
    padding-top: 50px;
  }
  p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;

    @include m.mediaq(mobile) {
      padding-bottom: 0;
    }
  }
}

.members {
  @include m.mediaq(mobile) {
    width: 90%;
    margin: 20px auto;
  }
  @include m.mediaq(tablet) {
    display: flex;
    flex-direction: column;
  }
  @include m.mediaq(laptop) {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.member {
  text-align: center;
  img {
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 20px 20px rgb(253, 247, 247);
    width: 250px;

    @include m.mediaq(mobile) {
      width: 80%;
      height: 300px;
      box-shadow: 25px 25px rgb(253, 247, 247);
    }
    @include m.mediaq(tablet) {
      height: auto;
    }
    @include m.mediaq(laptop) {
      height: 350px;
    }
  }
  p {
    width: 80%;

    @include m.mediaq(mobile) {
      width: 100%;
    }
  }
}

.team-card {
  margin: 20px auto !important;
}