header {
  background: url(../image/header_coffee.jpg);
  background-size: cover;
  padding-bottom: 60px;
}

.countdown {
  min-height: 18px;
  background-color: #445c5f;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 2vw;
}
.countdown em {
  font-style: normal;
}

.days,
.hours,
.minutes,
.seconds {
  margin: 0 10px;
}

.container-fluid {
  padding-left: 0;
}

.logo {
  width: 8vw;
  height: 8vw;
  min-width: 60px;
  min-height: 60px;
}

.navbar-brand {
  padding: 0;
}

.navbar {
  padding: 0;
  min-height: 60px;
  --bs-bg-opacity: 0.7;
}

#navbarNav {
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

.headerMain {
  text-align: center;
}

.headerMain h1 {
  font-size: 6vw;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: rgba(0, 255, 110, 0.7725490196) 1px 0 10px;
  padding-top: 80px;
}
@media screen and (max-width: 600px) {
  .headerMain h1 {
    padding-top: 20px;
  }
}
.headerMain p {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5vw;
  color: #fff;
  text-shadow: rgba(0, 255, 110, 0.7725490196) 1px 0 10px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background: #f4f8cf;
}

a {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navlist {
    position: absolute;
    top: -50px;
    right: -800px;
    width: 100%;
    background-color: #333;
    transition: all 0.5s;
  }
  .navlist ul {
    padding: 20px;
    margin: 0 auto;
  }
  .navlist li {
    text-align: center;
    list-style-type: none;
    display: block;
    margin: 30px 0;
    font-size: 1.2rem;
  }
  .navlist li a {
    color: #fff;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    transition-duration: 0.3s;
  }
  .navlist li a a:hover {
    background-color: rgb(173, 168, 168);
    transition: 0.8s;
  }
}
@media screen and (max-width: 600px) and (min-width: 968px) {
  .navlist li a a:hover {
    transition: 0.5s;
    color: #35ae72;
    text-decoration: underline;
    -webkit-text-decoration-style: wavy;
            text-decoration-style: wavy;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
  }
}

@media screen and (max-width: 600px) {
  .toggle-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: -50px;
    right: 0;
  }
  .toggle-btn span {
    width: 30px;
    height: 5px;
    background-color: #333;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    transition: all 0.5s;
  }
  .toggle-btn span span:nth-child(1) {
    top: 12px;
  }
  .toggle-btn span span:nth-child(2) {
    top: 22px;
  }
  .toggle-btn span span:nth-child(3) {
    top: 32px;
  }
}

@media screen and (max-width: 600px) {
  .memupage {
    top: -59px;
  }
}

@media screen and (max-width: 600px) {
  .open .toggle-btn span {
    background-color: #fff;
    z-index: 999;
  }
  .open .toggle-btn span :nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle-btn span :nth-child(2) {
    opacity: 0;
  }
  .open .toggle-btn span :nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
}

@media screen and (max-width: 600px) {
  .loc-contact {
    padding-top: 0 !important;
    height: 830px !important;
  }
}

@media screen and (max-width: 600px) {
  .aboutus-main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.section {
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 30px;
}
.section .left {
  z-index: 1;
  background-color: #fff;
}
.section .left img {
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.section h3 {
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .section {
    width: 100%;
  }
  .section .left img {
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width:601px) {
  .section {
    width: 95%;
    text-align: center;
    padding: 10px 0;
  }
  .section .left {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .section .left img {
    height: 20vh;
    width: 100%;
  }
}
@media screen and (min-width: 968px) {
  .section {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 600px;
    padding-top: 50px;
  }
  .section .left {
    position: relative;
    width: 500px;
    height: 500px;
  }
  .section .left img {
    height: 500px;
    width: 500px;
    position: relative;
  }
  .section .left::after {
    background-color: #f4f8cf;
    width: 74%;
    height: 90%;
    position: absolute;
    content: "";
    z-index: 0;
    bottom: -10%;
    left: -160px;
  }
  .section .right {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.right-caption {
  width: 90%;
}
.right-caption h3 {
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .right-caption {
    margin: 0 auto;
  }
}
@media screen and (min-width:601px) {
  .right-caption {
    margin: 20px auto;
  }
}
@media screen and (min-width: 968px) {
  .right-caption {
    margin: 50px auto;
  }
}

.images {
  display: flex;
}
.images img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media screen and (max-width: 600px) {
  .images {
    justify-content: space-between;
  }
  .images img {
    height: auto;
    width: 48%;
  }
}
@media screen and (min-width:601px) {
  .images {
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .images img {
    height: 14vh;
    width: 45%;
  }
}
@media screen and (min-width: 968px) {
  .images {
    justify-content: space-evenly;
  }
  .images img {
    height: 100%;
    width: 240px;
  }
}

@media screen and (max-width: 600px) {
  .info hr {
    display: none;
  }
}

footer {
  text-align: center;
  background-color: #89cfd7;
  margin-bottom: -20px;
}
footer ul {
  margin-bottom: 10px;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  color: rgba(204, 234, 238, 0.8078431373);
  text-decoration: none;
  font-size: 1rem;
  margin: 0 20px;
}
footer ul li a:hover {
  color: #35ae72;
  transition: 0.5s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}
@media screen and (max-width: 600px) {
  footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  footer ul li a {
    margin: 0 4px;
  }
  footer ul li a:hover {
    color: #35ae72;
  }
}

.newsletter p {
  font-size: 1.3rem;
  color: rgba(204, 234, 238, 0.8078431373);
  padding: 20px 0;
  margin: 0;
}

.form {
  height: 40px;
  width: 400px;
  margin: 0 auto;
}
.form form {
  position: relative;
}
@media screen and (max-width: 600px) {
  .form {
    width: 80%;
    padding-bottom: 20px;
  }
}
@media screen and (min-width:601px) {
  .form {
    width: 55%;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 968px) {
  .form {
    padding-bottom: 20px;
  }
}

.email {
  width: 100%;
  height: 35px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(204, 234, 238, 0.8078431373);
}

.button {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  bottom: 3px;
  right: 3px;
  border: none;
  background-color: #89cfd7;
  color: #fff;
}
.button:hover {
  background-color: #1eb2c2;
}
.button p {
  margin: 0;
  font-size: 0.8rem;
  color: rgba(204, 234, 238, 0.8078431373);
}

.logo-bottom {
  height: 70px;
  width: 70px;
}

.bottom {
  margin: 10px 0;
}
.bottom p {
  font-size: 0.8rem;
  color: rgba(204, 234, 238, 0.8078431373);
  margin: 0;
}

.links-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.links-container .menu {
  background-image: url("../image/menu.jpg");
  background-size: cover;
}
.links-container .locations {
  background-image: url("../image/locations.jpg");
  background-size: cover;
}
.links-container .team {
  background-image: url("../image/team.jpg");
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .links-container {
    flex-direction: column;
    margin: 20px auto;
  }
  .links-container .card {
    height: 130px;
    width: 300px;
    margin: 10px auto;
  }
}
@media screen and (min-width:601px) {
  .links-container {
    width: 90%;
  }
  .links-container .card {
    margin: 20px;
  }
  .links-container .menu {
    height: 250px;
    width: 250px;
  }
  .links-container .locations {
    height: 250px;
    width: 250px;
  }
  .links-container .team {
    height: 250px;
    width: 250px;
  }
}
@media screen and (min-width: 968px) {
  .links-container {
    width: 80%;
    justify-content: center;
  }
  .links-container .card {
    height: 300px;
    width: 300px;
    margin: 20px;
  }
  .links-container .menu {
    height: 300px;
    width: 300px;
  }
  .links-container .locations {
    height: 300px;
    width: 300px;
  }
  .links-container .locations .map {
    margin: 0 auto;
  }
  .links-container .locations .contact {
    padding-top: 20px;
  }
  .links-container .team {
    height: 300px;
    width: 300px;
  }
}

.card {
  position: relative;
}
.card:hover .hover {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .img-link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.inside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 968px) {
  .inside {
    padding: 20px 0;
  }
}
.inside h4 {
  color: #fff;
  letter-spacing: 2px;
}
@media screen and (max-width: 600px) {
  .inside h4 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width:601px) {
  .inside h4 {
    font-size: 2rem;
    margin-top: 80px;
  }
}
@media screen and (min-width: 968px) {
  .inside h4 {
    font-size: 3.9vw;
    margin-top: 80px;
  }
}

.hover {
  width: 100%;
  transition: all 0.2s ease-out;
  position: absolute;
}
.hover p {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  font-weight: lighter;
  font-size: 0.9rem;
}
@media screen and (max-width: 600px) {
  .hover {
    width: 90%;
    top: 40px;
    left: 15px;
  }
  .hover p {
    padding: 10px;
  }
}
@media screen and (min-width:601px) {
  .hover {
    visibility: hidden;
    top: 50%;
  }
}
@media screen and (min-width: 968px) {
  .hover {
    visibility: hidden;
    top: 50%;
  }
}

.bg {
  background-color: rgba(26, 123, 24, 0.6705882353);
  color: #fff;
  font-weight: 100;
  width: 55%;
  margin: 0 auto;
}
.bg:hover {
  background-color: rgba(84, 106, 84, 0.6705882353);
  transition-duration: 0.3s;
  cursor: pointer;
}
@media screen and (min-width:601px) {
  .bg {
    padding: 5px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 968px) {
  .bg {
    padding: 10px;
    margin-top: 15px;
  }
}

.aboutus h2 {
  font-size: 2rem;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .aboutus {
    padding-top: 45px;
    margin-top: -45px;
  }
}
@media screen and (min-width:601px) {
  .aboutus {
    padding-top: 70px;
  }
}
@media screen and (min-width: 968px) {
  .aboutus {
    padding-top: 100px;
  }
}

.aboutus-header {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width:601px) {
  .aboutus-header {
    padding-bottom: 20px;
  }
}

.right-caption {
  width: 90%;
}
@media screen and (max-width: 600px) {
  .right-caption {
    margin: 0 auto;
  }
}
@media screen and (min-width:601px) {
  .right-caption {
    margin: 20px auto;
  }
}
@media screen and (min-width: 968px) {
  .right-caption {
    margin: 50px auto;
  }
  .right-caption h3 {
    font-size: 2rem;
  }
}

main {
  background-color: #f4f8cf;
}
@media screen and (max-width: 600px) {
  main {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  #loc {
    height: 1420px;
  }
}

@media screen and (max-width: 600px) {
  .menu,
.men {
    height: 800px;
  }
}

@media screen and (max-width: 600px) {
  .review {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width:601px) {
  .review {
    height: auto;
    margin-top: 50px;
  }
}
@media screen and (min-width: 968px) {
  .review {
    width: 95%;
    margin: 50px auto 0;
  }
}

@media screen and (max-width: 600px) {
  .review-container {
    margin: 50px auto;
  }
}
@media screen and (min-width: 968px) {
  .review-container {
    margin: 50px 0;
  }
}

.review-card {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .review-card {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.onereview {
  display: flex;
  justify-content: space-between;
  background-color: #f7f9e4;
  border: 1px solid #acacac;
  border-radius: 3px;
}
.onereview img {
  border-radius: 50%;
  border: 4px solid #fff;
  display: block;
  margin: 10px auto;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .onereview {
    border: 1px solid #333;
    margin: 5px;
    padding: 10px;
    width: 100%;
    max-height: 300px;
    min-height: 130px;
  }
}
@media screen and (min-width:601px) {
  .onereview {
    margin: 8px;
    padding: 8px;
    width: 30%;
    max-height: 300px;
    min-height: 180px;
  }
}
@media screen and (min-width: 968px) {
  .onereview {
    margin: 8px;
    width: 25%;
    flex-direction: column;
  }
  .onereview img {
    height: 140px;
    width: 140px;
  }
}

@media screen and (max-width: 600px) {
  .leftDiv {
    margin: auto 0;
  }
}
@media screen and (min-width:601px) {
  .leftDiv {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 968px) {
  .leftDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (min-width:601px) {
  .rightDiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

.quote {
  font-style: italic;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .quote {
    width: 80%;
  }
}
@media screen and (min-width:601px) {
  .quote {
    width: 100%;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 968px) {
  .quote {
    width: 95%;
    font-size: 0.9rem;
  }
}

.checked {
  color: orange;
}

.wave-container {
  position: relative;
  background: #f4f8cf;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .wave-container {
    min-height: 114px;
  }
}
@media screen and (min-width:601px) {
  .wave-container {
    height: 170px;
  }
}
@media screen and (min-width: 968px) {
  .wave-container {
    height: 140px;
  }
}

.wave {
  position: absolute;
  height: 161px;
  width: 100%;
  background: #f4f8cf;
  bottom: 0;
}
.wave::before {
  width: 55%;
  height: 100%;
  background-color: #f4f8cf;
  right: -1.5%;
  top: 40%;
}
.wave::after {
  width: 55%;
  height: 109%;
  background-color: #f8f1ea;
  left: -1.5%;
  top: 60%;
}
.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
}
@media screen and (min-width:601px) {
  .wave::before {
    top: 42%;
  }
}

.form1 {
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .form1 {
    width: 80%;
  }
}
@media screen and (min-width:601px) {
  .form1 {
    height: 500px;
  }
}
@media screen and (min-width: 968px) {
  .form1 {
    height: 500px;
  }
}

.mypage {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
}
.mypage h2 {
  letter-spacing: 2px;
}
@media screen and (max-width: 600px) {
  .mypage {
    font-size: 0.7rem;
  }
}
@media screen and (min-width:601px) {
  .mypage {
    width: 80%;
    height: 450px;
  }
}
@media screen and (min-width: 968px) {
  .mypage {
    width: 60%;
  }
  .mypage + p {
    width: 90%;
  }
}

.login {
  font-size: 1.2rem;
}

#email,
#pwd {
  width: 100%;
  height: 30px;
  border-radius: 3px;
}

#button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .example {
    margin: 5px;
  }
}
@media screen and (min-width:601px) {
  .example {
    margin: 10px 0;
  }
  .example p {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 968px) {
  .example {
    margin: 25px;
  }
}

@media screen and (min-width: 968px) {
  .index header {
    height: 600px;
  }
}

.menu-main {
  padding-top: 60px;
}
@media screen and (max-width: 600px) {
  .menu-main {
    padding-top: 15px;
  }
}

.menu-container {
  height: 630px;
  background-color: rgba(73, 178, 189, 0.3843137255);
  width: 80%;
  margin: 0 auto;
}
.menu-container h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 30px;
}
@media screen and (max-width: 600px) {
  .menu-container h1 {
    font-size: 2rem;
  }
}

.divParent {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px;
  width: 60%;
  height: 40px;
}
@media screen and (max-width: 600px) {
  .divParent {
    width: 80%;
  }
}

.divLine {
  padding: 5px 15px;
  flex-grow: 2;
}
.divLine hr {
  border-style: dotted;
}

.divPrice,
.divTitle {
  flex: 0 1 auto;
  line-height: 40px;
}

@media screen and (max-width: 600px) {
  .team-header {
    height: 1730px;
  }
}
@media screen and (min-width:601px) {
  .team-header {
    height: 950px;
  }
}
@media screen and (min-width: 968px) {
  .team-header {
    height: 860px;
  }
}

.teampage {
  text-align: center;
}
.teampage h2 {
  font-size: 2.5rem;
  padding-top: 50px;
}
.teampage p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .teampage p {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .members {
    width: 90%;
    margin: 20px auto;
  }
}
@media screen and (min-width:601px) {
  .members {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 968px) {
  .members {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.member {
  text-align: center;
}
.member img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 20px 20px rgb(253, 247, 247);
  width: 250px;
}
@media screen and (max-width: 600px) {
  .member img {
    width: 80%;
    height: 300px;
    box-shadow: 25px 25px rgb(253, 247, 247);
  }
}
@media screen and (min-width:601px) {
  .member img {
    height: auto;
  }
}
@media screen and (min-width: 968px) {
  .member img {
    height: 350px;
  }
}
.member p {
  width: 80%;
}
@media screen and (max-width: 600px) {
  .member p {
    width: 100%;
  }
}

.team-card {
  margin: 20px auto !important;
}

.location-main {
  padding-top: 60px;
  text-align: center;
}
.location-main p {
  width: 100%;
  margin: 0 auto 40px;
}

.location-container {
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .location-container {
    display: block;
  }
}
@media screen and (min-width:601px) {
  .location-container {
    display: block;
  }
}
@media screen and (min-width: 968px) {
  .location-container {
    display: flex;
    justify-content: space-between;
  }
}

.location {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 968px) {
  .location {
    width: 32%;
  }
}
.location img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width:601px) {
  .location img {
    display: block;
  }
}
.location h4 {
  margin-top: 10px;
}

.contact {
  text-align: center;
  background-color: #f8f1ea;
  padding: 135px 0 80px;
}

@media screen and (min-width: 968px) {
  .info {
    margin: 20px 0 10px;
  }
}
@media screen and (min-width:601px) {
  .info {
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 600px) {
  .info {
    width: 80%;
    padding-top: 20px;
    font-size: 0.8rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .info p {
    margin: 0 auto;
  }
}

#map {
  height: 450px;
  background-color: aqua;
}
@media screen and (min-width: 968px) {
  #map {
    width: 80%;
  }
}
@media screen and (min-width:601px) {
  #map {
    height: 60vh;
    width: 90%;
    margin: 0 auto;
  }
}

.map {
  width: 95%;
  justify-content: space-around;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .map {
    display: block;
  }
}
@media screen and (min-width:601px) {
  .map {
    display: block;
  }
}
@media screen and (min-width: 968px) {
  .map {
    display: flex;
    width: 96%;
    gap: 20px;
  }
}/*# sourceMappingURL=styles.css.map */