@use "mixin" as m;

.location-main {
  padding-top: 60px;
  text-align: center;
  p {
    width: 80%;
    margin: 0 auto 40px;
    }
}

.location-container {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  @include m.mediaq(mobile) {
    display: block;
  }
}

.location {
  width: 32%;
  @media screen and (max-width:650px) {
    width: 90%;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
  h4 {
    margin-top: 10px;
  }
}

.contact {
  text-align: center;
  background-color: #f8f1ea;
  padding: 60px 0;

  @include m.mediaq(mobile) {
    padding: 30px 0;
    background-color: red;
  }
}

.info {
  @media screen and (max-width:480px)  {
    width: 80%;
    padding-top: 20px;
    font-size: 0.8rem;
    margin: 0 auto;
  }
  @media screen and (min-width:480px) and (max-width:1080px) {
    margin: 10px 0 0px;
  }
  @media screen and (min-width:1080px) {
    margin: 20px 0 10px;
  }
    p {
      @media screen and (max-width:480px)  {
        margin: 0 auto;
    }
    }
}

#map {
  height: 450px;
  background-color: aqua;
  @media screen and (max-width:750px)  {
    height: 350px;
    width: 90%;
    margin: 0 auto;
  }
  @media screen and (min-width:751px) and (max-width:1080px) {
    width: 80%;
  }
  @media screen and (min-width:1080px) {
    width: 60%;
  }
}

.map {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 0 auto;
  @media screen and (max-width:750px)  {
    display: block;
  }
  @media screen and (min-width:480px) and (max-width:1080px) {
    gap: 20px;
  }
}

