body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(223, 237, 248);
}
a {
  cursor: pointer;
}
header {
  margin: 0;
  background: url(image/header_coffee.jpg);
  background-size: cover;
  width: 100%;
}
.countdown em {
  font-style: normal;
}

.logo {
  width: 85px;
  height: 85px;
}

#navbarNav {
  justify-content: center;
}
.nav-item {
  margin: 0 10px;
}

/* mobile responsive */
@media screen and (max-width:480px)  {

.countdown {
  width: 100%;
  height: 30px;
  background-color: #445c5f;
  display: flex;
  justify-content: center;
  color: #fff;
  line-height: 30px;
  font-size: 0.7rem;
}

.days, .hours, .minutes, .seconds {
  line-height: 30px;
  width: 10px;
  height: 30px;
  border-radius: 20%;
  margin: 0 5px;
}
.logo {
  width: 30px;
  height: 30px;
} 
header {
  margin: 0;
  height: 430px;
  background: url(/image/header_coffee.jpg);
  background-size: cover;
  width: 100%;
}  
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.top {
  background-color: #89CFD7;
  opacity: 0.9;
  width: 100%;
  position: relative;
  height: 50px;
}

/* menu.html starts */
.menutopdiv {
  height: 50px;
}
.menu-main {
  padding-top: 95px;
}
.menu {
  height: 900px;
  padding-top: 200px;
}
.menu-container {
  height: 630px;
  background-color: #49b2bd62;
  width: 80%;
  margin: 0 auto;
}
.menu-container h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 30px;
}
/* menu.html ends */


#navArea {
  position: relative;
}
.open .navlist{
  right: 0;
}

.navlist {
  position: absolute;
  top: -50px;
  right: -800px; 
  width: 100%;
  background-color: #333;
  transition: all 0.5s;
}
.navlist ul {
  padding: 20px;
  margin: 0 auto;
}
.navlist li{
  text-align: center;
  list-style-type: none;
  display: block;
  margin: 30px 0;
  font-size: 1.2rem;
}
.navlist li a{
  color: #fff;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  transition-duration: 0.3s;
}
.navlist li a:hover{
  background-color: rgb(173, 168, 168);
  transition: 0.8s;
}
.toggle-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: 0;
}
.memupage {
  top: -59px;
}

.toggle-btn span {
  width: 30px;
  height: 5px;
  background-color: #333;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  transition: all 0.5s;
}
.toggle-btn span:nth-child(1) {
  top: 12px;
}
.toggle-btn span:nth-child(2) {
  top: 22px;
}
.toggle-btn span:nth-child(3) {
  top: 32px;
}

.open .toggle-btn span {
  background-color: #fff;
  z-index: 999;
}
.open .toggle-btn span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

  /* team.html starts*/
.team-header {
  height: 1730px;
}
.teampage {
  text-align: center;
}
.teampage h2 {
  padding-top: 115px;
  font-size: 3rem;
}
.teampage p {
  width: 80%;
  margin: 0 auto;
}
.members {
  width: 90%;
  margin: 20px auto;
}
.member {
  text-align: center;
}
.member img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 25px 25px rgb(253, 247, 247);
}
.member p {
  width: 100%;
}
.team-card {
  margin: 20px auto!important;
}
/* team.html ends */

.headerMain {
  text-align: center;
  padding-top: 50px;
}

.headerMain h1 {
  font-size: 3rem;
  margin-top: 100px;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: #00ff6ec5 1px 0 10px;
}

.headerMain p {
  margin-top: 100px;
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #fff;
  text-shadow: #00ff6ec5 1px 0 10px;
}

.loc-contact {
  padding-top: 0 !important;
  height: 830px !important;
}




.locations h2 {
  text-align: center;
  padding-top: 100px;
  font-size: 3rem;
  margin: 0;
}

.locations p {
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto;
  /* margin-bottom: 20px; */
}

.location-container {
  /* max-width: 450px; */
  width: 100%;
  position: relative;
  margin: auto;
}

.location h4 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
.location img {
  width: 80%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 1%;
  box-shadow: 15px 15px rgb(250, 245, 245);
}
.location p {
  width: 90%;
}

.menu h2 {
  text-align: center;
  /* font-size: 2rem; */
}
.menu p {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
  margin: 0 auto;
  margin-bottom: 20px;
}


/* index.html */
.aboutus-main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.section {
  width: 100%;
  /* height: 600px; */
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 30px;
}
.section .left{
  /* position: relative; */
  /* width: 500px; */
  /* height: 500px; */
  z-index: 1;
  background-color: #fff;
}
.section .left img{
  height: auto;
  width: 100%;
  z-index: 3;
  display: block;
  /* position: relative; */
  object-fit: cover;
}
.section .left::after{
  /* background-color: rgb(223, 237, 248);
  width: 60%;
  height: 20%;
  position: absolute;
  content: '';
  z-index: 0;
  bottom: -20%;
  left: 0; */
}
.images {
  display: flex;
  justify-content: space-between;
}
.images img {
  height: auto;
  width: 48%;
  object-fit: cover;
  display: block;
}
.section .right {
  /* width: 600px; */
}
.info hr {
  display: none;
}


.contact {
  text-align: center;
  height: 1400px;
  background-color: #f8f1ea;
  padding-top: 120px;
}
.contact p {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
}

#map {
  height: 400px;
  width: 80%;
  background-color: aqua;
  margin: 0 auto;
}
.map {
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* margin-top: 40px; */
  padding: 40px 0;
}
.info {
  align-self: center;
}

footer {
  text-align: center;
  background-color: #89CFD7;
}
.newsletter p {
  /* font-size: 1.3rem; */
  color: #cceaeece;
  padding: 20px 0;
}
.form {
  height: 40px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.form form {
  position: relative;
}
.email {
  width: 100%;
  height: 35px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #cceaeece;
}
.button {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  bottom: 3px;
  right: 3px;
  border: none;
  background-color: #89CFD7;
  color: #fff;
}
.button:hover {
  background-color: #1eb2c2;

}
footer ul {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  color: #cceaeece;
  text-decoration: none;
  margin: 0 4px;
}
footer ul li a:hover {
  color: #99afb2ce;
  transition: .6s;
}
.logo-bottom {
  height: 70px;
  width: 70px;
  margin-top: 20px;
}
.bottom p{
  margin: 0;
  font-size: .8rem;
  color: #cceaeece;
}

.links-container {
  text-align: center;
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.links-container .card {
  height: 300px;
  width: 300px;
  margin: 10px auto;
}
.links-container .menu {
  background-image: url(./image/menu.jpg);
  height: 150px;
  width: 300px;
  background-size: cover;
  
}
.links-container .locations {
  background-image: url(./image/locations.jpg);
  height: 202px;
  width: 300px;
  background-size: cover;
}
.links-container .team {
  background-image: url(./image/team.jpg);
  height: 202px;
  width: 300px;
  background-size: cover;
}

.card {
  position: relative;
  /* width: 100%; */
  /* height: 100%; */
}
.img-link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}
.card:hover .hover {
  /* display: block; */
  visibility: visible;
}

.inside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px 0;
}
.inside h4 {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 2px;
}
.hover {
  width: 90%;
  visibility: hidden;
  transition: all 0.2s ease-out;
  position: absolute;
  top: 95px;
  left: 15px;
}
.hover p {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  font-weight: lighter;
  font-size: 0.9rem;
}
.bg {
  background-color: #1a7b18ab;
  padding: 10px;
  color: #fff;
  font-weight: 100;
  width: 55%;
  margin: 0 auto;
  margin-top: 15px;
}

.aboutus {
  padding-top: 45px;
  margin-top: -45px;
}
.aboutus h2 {
  font-size: 2rem;
  margin: 0;
}
.aboutus-header {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.section h3 {
  font-size: 2rem;
}
.right-caption {
  width: 90%;
  margin: 0 auto;
}
main {
  background-color: #f4f8cf;
  padding-top: 50px;
  height: 3570px;
}


.newsletter p {
  margin: 0;
}
#loc {
height: 1420px;
}
.menu, .men {
  height: 800px;
}

.menu-container {
height: 630px;
background-color: #49b2bd62;
width: 80%;
margin: 0 auto;
}
.menu-container h1 {
font-size: 3rem;
text-align: center;
padding-top: 30px;
}
.divParent {
display: flex;
justify-content: space-between;
width: 80%;
margin: 0 auto 10px;
}
.divLine {
padding: 5px 15px;
flex-grow: 2
}
.divLine hr{
border-style: dotted;
}
.divPrict, .divTitle {
flex: 0 1 auto;
}

.review {
height: 900px;
width: 70%;
margin: 0 auto;

}
.review-container {
/* height: 300px; */
/* width: 100%; */
margin: 50px auto;
}
.review-card {
display: flex;
flex-direction:column;
justify-content: space-evenly;
text-align: center;
}
.onereview {
border: 1px solid #333;
border-radius: 3px;
margin: 5px;
/* padding: 20px 0; */
background-color: #f7f9e4;
width: 100%;
}
.onereview img{
  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: block;
  margin: 5px auto
}
.quote {
/* font-size: 0.7rem; */
font-style: italic;
width: 80%;
margin: 0 auto;
}
.checked {
color: orange;
}

.wave-container {
position: relative;
background: #f4f8cf;
height: 160px;
width: 100%;
}

.wave {
position: absolute;
height: 161px;
width: 98%;
background: #f4f8cf;
bottom: 0;
}

.wave::before, .wave::after {
content: "";
display: block;
position: absolute;
border-radius: 50% 100%;
}

.wave::before {
width: 55%;
height: 100%;
background-color: #f4f8cf;
right: -1.5%;
top: 40%;
}
.wave::after {
width: 55%;
height: 109%;
background-color: #f8f1ea;
left: -1.5%;
top: 60%;
}
.form1 {
/* height: 500px; */
width: 80%;
margin: auto;
}
.mypage {
background-color: #445c5f5e;
height: 400px;
padding: 20px;
border-radius: 20px;
}
.mypage h2 {
letter-spacing: 2px;
}
.login {
font-size: 1.2rem;
}
#email, #pwd {
width: 300px;
height: 30px;
border-radius: 3px;
}
#button {
width: 100px;
height: 30px;
margin-top: 10px;
}
.example {
margin: 50px;
}
}


@media screen and (max-width:740px) {
  .navlist li {
    font-size: 16px !important;
}
  /* Review */
    .onereview {
      width: 46% !important;
    }
}

/* Tablet responsibe */
@media screen and (min-width:480px) and (max-width:1080px) {
  header {
    margin: 0;
    height: 600px;
    background: url(/image/header_coffee.jpg);
    background-size: cover;
    width: 100%;
  }

  .header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  
  .countdown {
    width: auto;
    height: 50px;
    background-color: #445c5f;
    display: flex;
    justify-content: center;
    color: #fff;
    line-height: 50px;
    font-size: 2vw;
  }
  
  .days, .hours, .minutes, .seconds {
    line-height: 50px;
    width: 20px;
    height: 60px;
    border-radius: 20%;
    margin: 0 15px;
  }
  
 
  
  .menutopdiv {
    /* float: left; */
    /* display: block; */
  }
  .top {
    display: flex;
    justify-content: center;
    background-color: #89CFD7;
    opacity: 0.9;
    }
  
  
  
    .navlist {
      height: 85px;
      display: flex;
      z-index: 4;
      width: 100%;
    }
  
    .navlist ul {
      margin: 0 auto;
      padding: 0;
    }
  
    .navlist li {
      display: inline-block;
      margin: 0 10px;
      line-height: 85px;
      font-size: 18px;
    }
    
    .navlist li a {
      text-decoration: none;
      text-align: center;
      color: #fff;
      height: 85px;
      display: inline-block;
      width: 100%;
      /* letter-spacing: 0.9px; */
    }
    
    .navlist li a:hover {
      transition: 0.5s;
      color: #35ae72;
      text-decoration: underline;
      text-decoration-style: wavy;
      animation-duration: 0.8s;
    }

  .toggle-btn {
    display: none;
  }

  .headerMain {
    text-align: center;
    padding-top: 230px;
  }

  .headerMain h1 {
    font-size: 4rem;
    margin-top: 15px;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: #00ff6ec5 1px 0 10px;
  }

  .headerMain p {
    margin-top: 60px;
    width: 500px;
    margin: 0 auto;
    color: #fff;
    text-shadow: #00ff6ec5 1px 0 10px;
  }

/* locations.html */
  .locations h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 200px;
  }

  .locations p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .location-container {
    display: flex;
    justify-content: space-between;
    /* height: auto; */
    width: 100%;
    margin: 0 auto;
  }

  .location h4 {
    font-size: 1.5rem;
  }

  .location {
      text-align: center;
      width: 30%;
      margin: 10px;
      width: 100%;
  }

  .location img {
    height: 186px;
    width: 300px;
    object-fit: cover;
    display: block;
    border-radius: 1%;
    box-shadow: 12px 12px rgb(250 245 245);
  }

  .location p {
    width: 100% !important;
  }

/* menu.html */
  .menu header {
    height: 900px;
  }

  .menu h2 {
    text-align: center;
    font-size: 2rem;
  }

  .menu p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .menu-main {
  padding-top: 200px;
  }

  .menu-container {
  height: 630px;
  background-color: #49b2bd62;
  width: 80%;
  margin: 0 auto;
  }

  .menu-container h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 30px;
  }

  .divParent {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto 10px;
    height: 40px;
  }

  .divTitle, .divPrice {
    flex: 0 1 auto;
    line-height: 40px
  }

  .divLine {
    padding: 5px 15px;
    flex-grow: 2;
  }

  .divLine hr{
    border-style: dotted;
  }

  /* team.html starts */
 .teampage {
  padding-top: 180px;
  text-align: center;
  }
  .teampage h2 {
    font-size: 2.5rem;
  }
  .teampage p {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
  }
  .team-header {
    height: 950px;
  }
  .members {
    display: flex;
    justify-content: center;
  }
  .member {
    text-align: center;
  }
  .member img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 20px 20px rgb(253, 247, 247);
  }
  .member p {
    width: 80%;
  }



  .section {
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 0;
  }
  .section .left{
    width: 80%;
    height: auto;
    z-index: 1;
    background-color: #fff;
    margin: 0 auto;
  }
  .section .left img{
    height: 20vh;
    width: 100%;
    z-index: 3;
    display: block;
    object-fit: cover;
  }
  .images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .images img {
  height: 14vh;
  width: 45%;
  object-fit: cover;
  display: block;
  }

  

  .contact {
      text-align: center;
      padding-top: 115px;
      margin-top: -115px;
      margin: 0;
      background-color: #f8f1ea;
      width: 100%;
  }
  .contact h2 {
    text-align: center;
    font-size: 2rem;
  }
  .contact p {
    width: 80%;
    margin: 0 auto;
  }
  #map {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
  }
  .map {
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* margin-top: 40px; */
    padding: 40px 0;
  }
  .info {
    margin-top: 30px;
    align-self: center;
  }
  .info address {
    margin: 10px 0 0px;
  }
  .info hr {
    display: none;
  }



  .links-container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  .links-container .card {
    /* height: 250px; */
    /* width: 250px; */
    margin: 20px;
  }
  .links-container .menu {
    background-image: url(./image/menu.jpg);
    height: 250px;
    width: 250px;
    background-size: cover;
  }
  .links-container .locations {
    background-image: url(./image/locations.jpg);
    height: 250px;
    width: 250px;
    background-size: cover;
  }
  .links-container .team {
    background-image: url(./image/team.jpg);
    height: 250px;
    width: 250px;
    background-size: cover;
  }

  .card {
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
  }
  .img-link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
  }
  .card:hover .hover {
    /* display: block; */
    visibility: visible;
  }

  .inside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .inside h4 {
    font-size: 3rem;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 80px;
  }
  .hover {
    width: 90%;
    visibility: hidden;
    transition: all 0.2s ease-out;
    position: absolute;
    top: 136px;
    left: 15px;
  }
  .hover p {
    color: #fff;
    width: 100%;
    margin: 0 auto;
    font-weight: lighter;
    font-size: 0.9rem;
  }
  .bg {
    background-color: #1a7b18ab;
    padding: 10px;
    color: #fff;
    font-weight: 100;
    width: 55%;
    margin: 0 auto;
    margin-top: 15px;
  }

  .aboutus {
    padding-top: 170px;
    margin-top: -170px;
  }
  .aboutus h2 {
    font-size: 2rem;
    margin: 0;
  }
  .aboutus-header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

 


  .section h3 {
    font-size: 2rem;
  }
  .right-caption {
    width: 90%;
    margin: 20px auto;
  }
  main {
    background-color: #f4f8cf;
    padding-top: 50px;
  }




/* Review */
  .review {
  height: auto;
  margin-top: 50px;
}

.review-card {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap ;
  }
  
  .onereview img{
    border-radius: 50%;
    border: 4px solid #fff;
    height: auto;
    width: 100%;
    display: block;
    margin: 10px auto;
  }

  .onereview {
    border: 1px solid #acacac;
    border-radius: 3px;
    margin: 8px;
    padding: 8px;
    background-color: #f7f9e4;
    width: 30%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
  }
  .rightDiv {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .leftDiv {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .quote {
  font-style: italic;
  width: 95%;
  margin: 0 auto;
  }

  .checked {
  color: orange;
  }

/* Wavy separator */
  .wave-container {
  position: relative;
  background: #f4f8cf;
  height: 170px;
  width: 100%;
  }

  .wave {
  position: absolute;
  height: 161px;
  width: 100%;
  background: #f4f8cf;
  bottom: 0;
  }

  .wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50% 100%;
  }

  .wave::before {
    width: 55%;
    height: 100%;
    background-color: #f4f8cf;
    right: -0.5%;
    top: 42%;
  }

  .wave::after {
  width: 55%;
  height: 109%;
  background-color: #f8f1ea;
  left: -1.5%;
  top: 60%;
  }

/* Login */
  .form1 {
  height: 500px;
  margin: auto;
  background-color: #f8f1ea;
  }

  .mypage {
  background-color: #445c5f5e;
  width: 80%;
  margin: 0 auto;
  height: 450px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  }

  .mypage h2 {
  letter-spacing: 2px;
  }

  .login {
  font-size: 1.2rem;
  }

  #email, #pwd {
  width: 300px;
  height: 30px;
  border-radius: 3px;
  }

  #button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  }

  .example {
  margin: 10px 0;
  }

  .example p {
    margin-bottom: 0;
  }
  /* Footer */
  footer {
    text-align: center;
    background-color: #89CFD7;
  }
  .newsletter p {
    font-size: 1.3rem;
    color: #cceaeece;
    padding: 20px 0;
    margin: 0;
  }

  .form {
    height: 40px;
    width: 55%;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .form form {
    position: relative;
  }
  .email {
    width: 100%;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #cceaeece;
  }
  .button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 3px;
    right: 3px;
    border: none;
    background-color: #89CFD7;
    color: #fff;
  }
  .button:hover {
    background-color: #1eb2c2;
  }

  footer ul {
    margin-bottom: 10px;
  }
  footer ul li {
    display: inline-block;
  }
  footer ul li a {
    color: #cceaeece;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 20px;
  }
  footer ul li a:hover {
    color: #35ae72;
    transition: 0.5s;
    animation-duration: 0.8s;
  }
  .logo-bottom {
    height: 70px;
    width: 70px;
    margin-top: 20px;
  }
  .bottom p{
    margin: 0;
    font-size: .8rem;
    color: #cceaeece;
  }
}

@media screen and (min-width:1080px) {
/* style for locations.html */
  .location-main {
    padding-top: 200px;
  }

  .location-main h2 {
    text-align: center;
  }

  .location-main p {
    width: 80%;
    margin: 0 auto 40px;
  }

  .location-container {
    display: flex;
    justify-content: space-evenly;
    height: auto;
  }

  .location h4 {
    font-size: 1.5rem;
  }

  .location {
    /* flex: 1; */
    /* display: none; */
    text-align: center;
    width: 33%;
    margin: 0 auto;
    /* width: 80%; */
  }

  .location img {
    height: 300px;
    width: 90%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 1%;
    box-shadow: 15px 15px rgb(250, 245, 245);
  }

  .location p {
    width: 90%;
  }

  .locations .map {
    margin: 0 auto;
  }
  
  .locations .contact {
    padding-top: 20px;
  }

  /* style for menu.html */
  .menu header {
    height: 880px;
  }

  .menu-main {
    padding-top: 227px;
  }

  .menu-container {
    padding: 20px 0;
    background-color: #49b2bd62;
    width: 80%;
    margin: 0 auto;
  }

  .menu-container h1 {
    text-align: center;
  }

  .divParent {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto 10px;
    height: 40px;
  }

  .divTitle, .divPrice {
    flex: 0 1 auto;
    line-height: 40px
  }

  .divLine {
    padding: 5px 15px;
    flex-grow: 2;
  }

  .divLine hr{
    border-style: dotted;
  }

/* Style for team.html */
  .members {
  display: flex;
  }

  .member {
  text-align: center;
  }

  .member img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 20px 20px rgb(253, 247, 247);
  }

  .member p {
  width: 80%;
  }

  .team-header {
    height: 860px;
  }

  .teampage {
    padding-top: 180px;
    text-align: center;
  }

  .teampage h2 {
    font-size: 2.5rem;
  }

  .teampage p {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
  }

  .team-card {
    margin: 20px auto!important;
  }

/* style for all pages */
  .index header {
    height: 600px;
  }
  main {
    background-color: #f4f8cf;
    padding-top: 50px;
  }

  .header-top {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  .countdown {
    height: 50px;
    background-color: #445c5f;
    display: flex;
    justify-content: center;
    color: #fff;
    line-height: 50px;
  }
    
  .days, .hours, .minutes, .seconds {
    line-height: 50px;
    width: 20px;
    height: 60px;
    border-radius: 20%;
    margin: 0 15px;
  }

  .top {
  display: flex;
  justify-content: center;
  background-color: #89CFD7;
  opacity: 0.9;
  }



  .navlist {
    height: 85px;
    display: flex;
    z-index: 4;
    width: 100%;
  }

  .navlist ul {
    margin: 0;
    padding: 0;
  }

  .navlist li {
    display: inline;
    margin: 0 10px;
    line-height: 85px;
    font-size: 18px;
  }
  
  .navlist li a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    height: 85px;
    display: inline-block;
    width: 75px;
    /* letter-spacing: 0.9px; */
  }
  
  .navlist li a:hover {
    transition: 0.5s;
    color: #35ae72;
    text-decoration: underline;
    text-decoration-style: wavy;
    animation-duration: 0.8s;
  }

  .toggle-btn {
    display: none;
  }
  
  .headerMain {
    text-align: center;
    padding-top: 230px;
  }
  
  .headerMain h1 {
    font-size: 4rem;
    margin-top: 15px;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: #00ff6ec5 1px 0 10px;
  }
  
  .headerMain p {
    margin-top: 60px;
    width: 500px;
    margin: 0 auto;
    color: #fff;
    text-shadow: #00ff6ec5 1px 0 10px;
  }
  
  main {
    height: auto;
  }
  
  .aboutus {
    padding-top: 170px;
    margin-top: -170px;
  }

  .aboutus h2 {
    font-size: 2rem;
    margin: 0;
  }

  .aboutus-header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .section {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 600px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 30px;
  }

  .section .left{
    position: relative;
    width: 500px;
    height: 500px;
    z-index: 1;
    background-color: #fff;
  }

  .section .left img{
    height: 500px;
    width: 500px;
    z-index: 3;
    display: block;
    position: relative;
    object-fit: cover;
  }

  .section .left::after{
    background-color: #f4f8cf;
    width: 74%;
    height: 120%;
    position: absolute;
    content: '';
    z-index: 0;
    bottom: -20%;
    left: -200px;
  }

  .images {
    display: flex;
    justify-content: space-evenly;
  }

  .images img {
    height: 100%;
    width: 240px;
    object-fit: cover;
    display: block;
  }

  .section .right {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  .right-caption {
    width: 90%;
    margin: 50px auto;
  }

  .right-caption h3 {
    font-size: 2rem;
  }

  .links-container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .links-container .card {
    height: 300px;
    width: 300px;
    margin: 20px;
  }

  .links-container .menu {
    background-image: url(./image/menu.jpg);
    height: 300px;
    width: 300px;
    background-size: cover;
  }

  .links-container .locations {
    background-image: url(./image/locations.jpg);
    height: 300px;
    width: 300px;
    background-size: cover;
  }

  .links-container .team {
    background-image: url(./image/team.jpg);
    height: 300px;
    width: 300px;
    background-size: cover;
  }

  .review {
    height: 420px;
    width: 95%;
    margin: 50px auto 0;
  }

  .review-card {
    display: flex;
    text-align: center;
  }

  .onereview {
    border: 1px solid #acacac;
    border-radius: 3px;
    margin: 0 10px;
    padding: 18px 0;
    background-color: #f7f9e4;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .onereview img{
    border-radius: 50%;
    border: 4px solid #fff;
    height: 140px;
    width: 140px;
    display: block;
    margin: 10px auto;
  }
  .rightDiv {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .leftDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .quote {
  font-style: italic;
  width: 95%;
  margin: 0 auto;
  }

  .checked {
    color: orange;
  }
  
  /* wavy separator */
  .wave-container {
    position: relative;
    background: #f4f8cf;
    height: 161px;
    width: 100%;
  }
  
  .wave {
    position: absolute;
    height: 161px;
    width: 100%;
    background: #f4f8cf;
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50% 100%;
  }
  
  .wave::before {
    width: 55%;
    height: 100%;
    background-color: #f4f8cf;
    right: -1.5%;
    top: 40%;
  }

  .wave::after {
    width: 55%;
    height: 109%;
    background-color: #f8f1ea;
    left: -1.5%;
    top: 60%;
  }

/* Contact */
  .contact {
    text-align: center;
    padding-top: 170px;
    margin-top: -170px;
    margin: 20px;
    background-color: #f8f1ea;
    margin: 0;
  }

  .contact h2 {
    text-align: center;
    font-size: 2rem;
  }

  .contact p {
    width: 80%;
    margin: 0 auto;
  }

  .map {
    display: flex;
    padding: 40px 0;
    width: 90%;
    margin: 40px auto 0;
    justify-content: space-around;
  }

  #map {
    height: 400px;
    width: 50%;
    /* background-color: aqua; */
  }

  .info {
    align-self: center;
  }

  .info address {
    margin: 20px 0 10px;
  }

/* Login form */
  .form1 {
    height: 500px;
    background-color: #f8f1ea;
  }
  
  .mypage {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    background-color: #999;
    padding: 20px;
    border-radius: 20px;
  }

  .mypage h2 {
    letter-spacing: 2px;
  }

  .mypage + p {
    width: 90%;
  }

  .login {
    font-size: 1.2rem;
  }

  #email, #pwd {
    width: 300px;
    height: 30px;
    border-radius: 3px;
  }

  #button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
  }

  .example {
    margin: 25px;
  }

/* Footer */
  footer {
    text-align: center;
    background-color: #89CFD7;
  }

  .newsletter p {
    font-size: 1.3rem;
    color: #cceaeece;
    padding: 20px 0;
    margin: 0;
  }

  .form {
    height: 40px;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .form form {
    position: relative;
  }

  .email {
    width: 100%;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #cceaeece;
  }

  .button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 3px;
    right: 3px;
    border: none;
    background-color: #89CFD7;
    color: #fff;
  }

  .button:hover {
    background-color: #1eb2c2;
  }
  
  footer ul {
    margin: 10px auto;
  }

  footer ul li {
    display: inline-block;
  }

  footer ul li a {
    color: #cceaeece;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 20px;
  }

  footer ul li a:hover {
    color: #35ae72;
    transition: 0.5s;
    animation-duration: 0.8s;
  }

  .logo-bottom {
    height: 70px;
    width: 70px;
    margin: 20px auto;
  }

  .bottom p{
    margin: 0;
    font-size: .8rem;
    color: #cceaeece;
  }
  
  .img-link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
  }

  .card:hover .hover {
    /* display: block; */
    visibility: visible;
  }

  .inside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .inside h4 {
    font-size: 3.9vw;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 80px;
  }

  .hover {
    width: 90%;
    visibility: hidden;
    transition: all 0.2s ease-out;
    position: absolute;
    top: 176px;
    left: 15px;
  }

  .hover p {
    color: #fff;
    width: 100%;
    margin: 0 auto;
    font-weight: lighter;
    font-size: 0.9rem;
  }

  .bg {
    background-color: #1a7b18ab;
    padding: 10px;
    color: #fff;
    font-weight: 100;
    width: 55%;
    margin: 0 auto;
    margin-top: 15px;
  }
}
