@media screen and (max-width:480px)  {
  .team-header {
    height: 1730px;
  }
  .teampage {
    text-align: center;
  }
  .teampage h2 {
    padding-top: 115px;
    font-size: 3rem;
  }
  .teampage p {
    width: 80%;
    margin: 0 auto;
  }
  .members {
    width: 90%;
    margin: 20px auto;
  }
  .member {
    text-align: center;
  }
  .member img {
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 25px 25px rgb(253, 247, 247);
  }
  .member p {
    width: 100%;
  }
  .team-card {
    margin: 20px auto!important;
  }
}
@media screen and (min-width:480px) and (max-width:1080px) {
  .teampage {
    padding-top: 180px;
    text-align: center;
    }
    .teampage h2 {
      font-size: 2.5rem;
    }
    .teampage p {
      margin: 0 auto;
      width: 80%;
      padding-bottom: 20px;
    }
    .team-header {
      height: 950px;
    }
    .members {
      display: flex;
      justify-content: center;
    }
    .member {
      text-align: center;
    }
    .member img {
      width: 250px;
      height: auto;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 20px 20px rgb(253, 247, 247);
    }
    .member p {
      width: 80%;
    }
}

@media screen and (min-width:1080px) {
  .team-header {
    height: 860px;
  }

  .teampage {
    padding-top: 180px;
    text-align: center;
  }

  .teampage h2 {
    font-size: 2.5rem;
  }

  .teampage p {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
  }

  .team-card {
    margin: 20px auto!important;
  }

  .members {
    display: flex;
    }
  
    .member {
    text-align: center;
    }
  
    .member img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 20px 20px rgb(253, 247, 247);
    }
  
    .member p {
    width: 80%;
    }
  
}